@import url('https://fonts.googleapis.com/css?family=Balthazar|Nunito:300');

body {
	background-image: url("");
}

h1 {
	text-align: center;
	font-family: 'Balthazar', serif;
	letter-spacing: 2px;
}

p {
	margin: 2px 0;
}

.header {
	margin: 30px auto;
	margin-top: 80px;
}

.canvas {
	border-style: none;
	border-radius: 15px;
	margin: 0 auto;
	display: block;
}

.footer {
	margin-top: 60px;
	text-align: center;
}